In [4]:
import pandas as pd

In [5]:
reg_data = pd.read_csv('D:/registration.csv')

C:\Users\PDudukin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
reg_data.head()

,accepted_terms,cascade_store,code,created_at,email,event,external_id,firstname,id,meta,...,registration_event_id,registration_order,status,sum,surname,ticket_date,ticket_date_id,ticket_notify,updated_at,user
0,1,NaN,NaN,NaN,NaN,143.0,NaN,NaN,4,NaN,...,4,1.0,ok,NaN,NaN,NaN,NaN,0,NaN,42
1,1,NaN,NaN,NaN,NaN,143.0,NaN,NaN,6,NaN,...,4,2.0,ok,NaN,NaN,NaN,NaN,0,NaN,3
2,1,NaN,NaN,NaN,NaN,204.0,NaN,NaN,8,NaN,...,5,3.0,ok,NaN,NaN,NaN,NaN,0,NaN,17
3,1,NaN,NaN,NaN,NaN,205.0,NaN,NaN,9,NaN,...,6,4.0,ok,NaN,NaN,NaN,NaN,0,NaN,18
4,1,NaN,NaN,NaN,NaN,206.0,NaN,NaN,10,NaN,...,7,5.0,ok,NaN,NaN,NaN,NaN,0,NaN,17

In [7]:
reg_data.columns

Index(['accepted_terms', 'cascade_store', 'code', 'created_at', 'email',
       'event', 'external_id', 'firstname', 'id', 'meta', 'notify', 'paid_at',
       'parent', 'pay_till', 'phone', 'referrer', 'registration_event_id',
       'registration_order', 'status', 'sum', 'surname', 'ticket_date',
       'ticket_date_id', 'ticket_notify', 'updated_at', 'user'],
      dtype='object')

In [8]:
use_reg_data_cols = [
                    'id',
                    'user',
                    'registration_event_id',
                    'status',
                    'registration_order',
                    'sum',
                    'created_at',
                    'updated_at'
                    ]

In [9]:
reg_data = reg_data[use_reg_data_cols]

In [18]:
reg_data.status.value_counts()

ok                12756645
paid               1676186
notpaid             861529
deleted             430419
inactive            405935
booked              109418
pending              55259
rejected             22442
paid_offline         17916
returned             14831
notpaid_delay         1489
return_tp              775
booked_offline         242
free                   101
return_org              89
Name: status, dtype: int64

In [ ]:
paid, paid offline, ok (вроде бесплатных), free. booked

In [ ]:
reg_data = reg_data.sort_values(by='user')

In [1]:
import pandas as pd
import random

In [2]:
n = 16353286 #number of records in file
s = int(16353286./10.) #desired sample size
filename = 'D:/registration.csv'
reg_cols = ['accepted_terms',
            'cascade_store',
            'code',
            'created_at',
            'email',
            'event',
            'external_id',
            'firstname',
            'id',
            'meta',
            'notify',
            'paid_at',
            'parent',
            'pay_till',
            'phone',
            'referrer',
            'registration_event_id',
            'registration_order',
            'status',
            'sum',
            'surname',
            'ticket_date',
            'ticket_date_id',
            'ticket_notify',
            'updated_at',
            'user']
skip = sorted(random.sample(range(n),n-s))
reg_data = pd.read_csv(filename, names = reg_cols, skiprows=skip)

In [3]:
reg_data.head()

,accepted_terms,cascade_store,code,created_at,email,event,external_id,firstname,id,meta,...,registration_event_id,registration_order,status,sum,surname,ticket_date,ticket_date_id,ticket_notify,updated_at,user
0,1,NaN,NaN,NaN,NaN,143.0,NaN,NaN,6,NaN,...,4,2.0,ok,NaN,NaN,NaN,NaN,0,NaN,3
1,1,NaN,NaN,2009-05-06 15:07:04,NaN,290.0,NaN,NaN,45,NaN,...,61,19.0,ok,NaN,NaN,NaN,NaN,0,2009-05-06 15:07:04,17
2,1,NaN,NaN,2009-06-30 21:24:59,NaN,443.0,NaN,NaN,62,NaN,...,205,30.0,ok,NaN,NaN,NaN,NaN,0,2009-06-30 21:24:59,232
3,1,NaN,NaN,2009-06-30 21:26:10,NaN,443.0,NaN,NaN,65,NaN,...,205,33.0,ok,NaN,NaN,NaN,NaN,0,2009-06-30 21:26:10,235
4,1,NaN,NaN,2009-07-09 20:00:10,NaN,458.0,NaN,NaN,73,NaN,...,219,39.0,ok,NaN,NaN,NaN,NaN,0,2009-07-09 20:00:10,272

In [4]:
use_reg_data_cols = [
                    #'id',
                    'user',
                    'registration_event_id',
                    'status',
                    'registration_order',
                    'sum',
                    'created_at',
                    'updated_at'
                    ]

reg_data = reg_data[use_reg_data_cols]

In [5]:
event = pd.read_csv('D:/event.csv')
event.head()

C:\Users\PDudukin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,allow_multireg,begin,blocked,cascade_store,city,contact,created_at,culture,description,enable_comments,...,organization,parent,place,private,reglimit,shortdescription,status,twitter_keywords,updated_at,use_urpayments
0,0,2013-04-03 12:00:00,0,"a:5:{s:18:""to_end_description"";s:340:""<p>Извин...",Каменец-Подольский,NaN,2013-01-09 13:15:53,ru,"<div class=""event_description"">\n<p>Запуск биз...",1,...,55,NaN,Место и адрес проведения уточняются.,0,0,NaN,ok,NaN,2013-08-19 09:28:23,1
1,1,2013-04-06 15:00:00,0,"a:6:{s:16:""template_version"";s:8:""20130322"";s:...",Москва,NaN,2013-03-22 18:50:09,ru,<p><strong>О лекции: </strong>Нейробиологам из...,1,...,14098,NaN,"ул. Большая Полянка, 65/74, стр. 1. FAQcafe",0,0,Фестиваль «Искусство науки 2013» приглашает Ва...,ok,NaN,2013-08-19 09:05:50,0
2,0,2013-04-13 12:00:00,0,"a:5:{s:18:""to_end_description"";s:340:""<p>Извин...",Полтава,NaN,2013-01-09 13:15:53,ru,"<div class=""event_description"">\n<p>Запуск биз...",1,...,55,NaN,Место и адрес проведения уточняются.,0,0,NaN,ok,NaN,2013-08-20 02:30:31,1
3,1,2013-03-30 00:00:00,0,"a:6:{s:16:""template_version"";s:8:""20130322"";s:...",Без города,NaN,2013-03-22 19:09:29,ru,"<p style=""border: 0px; border-collapse: collap...",1,...,6761,NaN,NaN,0,0,"""Самый ценный актив — время. Большинство людей...",ok,NaN,2013-08-20 12:57:37,0
4,1,2013-03-29 12:00:00,0,"a:6:{s:16:""template_version"";s:8:""20130320"";s:...",Москва,NaN,2013-03-20 18:08:47,ru,<p>Приглашаем к участию в нашем клубе заинтере...,1,...,13713,NaN,"ул.Сущевская, д.21, подъезд 2, 3 этаж, офис 2,...",0,0,"Мы просвещаем людей, дающих в долг и людей бер...",ok,NaN,2013-08-18 05:59:07,0

In [9]:
event_short = event[event.status=='ok'][['id','city','description']]

In [10]:
event.columns

Index(['allow_multireg', 'begin', 'blocked', 'cascade_store', 'city',
       'contact', 'created_at', 'culture', 'description', 'enable_comments',
       'end', 'hits', 'id', 'name', 'organization', 'parent', 'place',
       'private', 'reglimit', 'shortdescription', 'status', 'twitter_keywords',
       'updated_at', 'use_urpayments'],
      dtype='object')

In [11]:
reg_data.head()

,user,registration_event_id,status,registration_order,sum,created_at,updated_at
0,3,4,ok,2.0,NaN,NaN,NaN
1,17,61,ok,19.0,NaN,2009-05-06 15:07:04,2009-05-06 15:07:04
2,232,205,ok,30.0,NaN,2009-06-30 21:24:59,2009-06-30 21:24:59
3,235,205,ok,33.0,NaN,2009-06-30 21:26:10,2009-06-30 21:26:10
4,272,219,ok,39.0,NaN,2009-07-09 20:00:10,2009-07-09 20:00:10

In [12]:
reg_data.sort_values(by='user', inplace=True)

In [13]:
reg_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1635329 entries, 505986 to 1270240
Data columns (total 7 columns):
user                     1635329 non-null int64
registration_event_id    1635329 non-null int64
status                   1635326 non-null object
registration_order       1635089 non-null float64
sum                      1581108 non-null float64
created_at               1635063 non-null object
updated_at               1635063 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 99.8+ MB

In [14]:
user = 673
set(reg_data[reg_data.user==user]['registration_event_id'])

{23166, 197799}

In [15]:
reg_data[reg_data.user==user]

,user,registration_event_id,status,registration_order,sum,created_at,updated_at
1482108,673,197799,paid,3281364.0,1500.0,2014-09-27 14:14:51,2014-09-27 14:16:57
68066,673,23166,ok,566370.0,NaN,2012-04-25 12:11:18,2012-04-25 12:11:18

In [16]:
category = pd.read_csv('D:/category.csv', usecols = ['id','name'])
event_category = pd.read_csv('D:/event_category.csv', usecols = ['event','category'])

In [17]:
data = pd.merge(reg_data, event_short, how='inner', left_on='registration_event_id', right_on='id')
data = pd.merge(data, event_category, how='inner', left_on='registration_event_id', right_on='event')
data = pd.merge(data, category, how='inner', left_on='category', right_on='id')

In [18]:
used_columns = ['user','registration_event_id','status','registration_order','sum','created_at','updated_at','city',
                'description','name']
data = data[used_columns]

In [19]:
user = 1
data[data.user==user]

,user,registration_event_id,status,registration_order,sum,created_at,updated_at,city,description,name
0,1,143688,ok,2147684.0,0.0,2013-12-26 16:23:36,2014-03-30 10:45:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
1,1,143688,ok,2147719.0,0.0,2013-12-26 16:23:39,2014-03-30 10:46:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
2,1,143688,ok,2147718.0,0.0,2013-12-26 16:23:38,2014-03-30 10:46:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
3,1,143688,ok,2147757.0,0.0,2013-12-26 16:23:40,2014-03-30 10:46:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
4,1,143688,ok,2147765.0,0.0,2013-12-26 16:23:41,2014-03-30 10:46:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
5,1,143688,ok,2150896.0,0.0,2013-12-26 16:28:37,2013-12-26 16:28:37,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
6,1,143688,ok,2147714.0,0.0,2013-12-26 16:23:38,2014-03-30 10:46:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
7,1,143688,ok,2150891.0,0.0,2013-12-26 16:28:36,2013-12-26 16:28:36,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
8,1,143688,ok,2147756.0,0.0,2013-12-26 16:23:40,2014-03-30 10:46:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
9,1,143688,ok,2147631.0,0.0,2013-12-26 16:23:33,2014-03-30 10:45:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
10,1,143688,ok,2147682.0,0.0,2013-12-26 16:23:36,2014-03-30 10:45:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
11,1,143688,ok,2147599.0,0.0,2013-12-26 16:23:31,2014-03-30 10:44:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
12,1,143688,ok,2147634.0,0.0,2013-12-26 16:23:34,2014-03-30 10:45:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
13,1,143688,ok,2147606.0,0.0,2013-12-26 16:23:31,2014-03-30 10:44:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
14,1,143688,ok,2147609.0,0.0,2013-12-26 16:23:32,2014-03-30 10:44:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
15,1,143688,ok,2147667.0,0.0,2013-12-26 16:23:35,2014-03-30 10:45:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
16,1,143688,ok,2147610.0,0.0,2013-12-26 16:23:32,2014-03-30 10:44:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
17,1,143688,ok,2147655.0,0.0,2013-12-26 16:23:35,2014-03-30 10:45:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
18,1,143688,ok,2147620.0,0.0,2013-12-26 16:23:32,2014-03-30 10:45:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
19,1,143688,ok,2147630.0,0.0,2013-12-26 16:23:33,2014-03-30 10:45:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
20,1,143688,ok,2147594.0,0.0,2013-12-26 16:23:28,2014-03-30 10:44:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
21,1,143688,ok,2147986.0,0.0,2013-12-26 16:23:54,2014-03-30 10:48:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
22,1,143688,ok,2147548.0,0.0,2013-12-26 16:23:25,2014-03-30 10:44:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
23,1,143688,ok,2147555.0,0.0,2013-12-26 16:23:25,2014-03-30 10:44:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
24,1,143688,ok,2147282.0,0.0,2013-12-26 16:23:07,2014-03-30 10:41:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
25,1,143688,ok,2147291.0,0.0,2013-12-26 16:23:08,2014-03-30 10:41:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
26,1,143688,ok,2147305.0,0.0,2013-12-26 16:23:09,2014-03-30 10:41:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
27,1,143688,ok,2147307.0,0.0,2013-12-26 16:23:09,2014-03-30 10:41:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
28,1,143688,ok,2147308.0,0.0,2013-12-26 16:23:09,2014-03-30 10:41:17,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
29,1,143688,ok,2147323.0,0.0,2013-12-26 16:23:10,2014-03-30 10:42:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
...,...,...,...,...,...,...,...,...,...,...
24021,1,143687,ok,2144506.0,0.0,2013-12-26 16:18:46,2014-03-30 10:14:17,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24022,1,143687,ok,2144514.0,0.0,2013-12-26 16:18:47,2014-03-30 10:14:17,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24023,1,143687,ok,2144515.0,0.0,2013-12-26 16:18:48,2014-03-30 10:14:17,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24024,1,143687,ok,2144517.0,0.0,2013-12-26 16:18:48,2014-03-30 10:14:17,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24025,1,143687,ok,2144556.0,0.0,2013-12-26 16:18:51,2014-03-30 10:14:17,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24026,1,143687,ok,2144560.0,0.0,2013-12-26 16:18:51,2014-03-30 10:14:17,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24027,1,143687,ok,2144581.0,0.0,2013-12-26 16:18:53,2014-03-30 10:14:17,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24028,1,143687,ok,2144582.0,0.0,2013-12-26 16:18:53,2014-03-30 10:14:17,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24029,1,143687,ok,2144589.0,0.0,2013-12-26 16:18:54,2014-03-30 10:14:17,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24030,1,143687,ok,2144592.0,0.0,2013-12-26 16:18:54,2014-03-30 10:14:17,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24031,1,143687,ok,2144595.0,0.0,2013-12-26 16:18:54,2014-03-30 10:14:17,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24032,1,143687,ok,2144477.0,0.0,2013-12-26 16:18:44,2014-03-30 10:13:18,Москва,<p>Вы когда-нибудь видели осу? Может быть даже...,Для детей
24033,1,529316,ok,6416036.0,0.0,2016-02-20 00:35:36,2016-02-20 00:35:36,Смоленск,"<p> </p>\n\n<p><span style=""color:rgb(0,0,0);""...",Для детей
24057,1,160402,paid,2404777.0,1.0,2014-03-07 01:59:16,2014-03-25 10:06:36,Москва,"<p><span class=""main"">Для тех ребят, которые х...",Для детей
24058,1,160402,paid,2404777.0,1.0,2014-03-07 01:59:16,2014-03-25 10:06:36,Москва,"<p><span class=""main"">Для тех ребят, которые х...",Для детей
66009,1,135370,ok,2070546.0,0.0,2013-12-05 18:24:31,2013-12-15 14:17:55,Москва,26-27 июля Большой фестиваль еды «ОДА! ЕДА!» в...,Искусство и культура
101109,1,118512,ok,1719696.0,0.0,2013-09-20 17:29:07,2013-11-27 10:00:07,Без города,"<p style=""text-align:center;""><span style=""col...",Бизнес
101110,1,211549,notpaid,3183991.0,750.0,2014-09-10 18:47:55,2014-09-12 19:00:03,Без города,NaN,Бизнес
245244,1,529316,ok,6416036.0,0.0,2016-02-20 00:35:36,2016-02-20 00:35:36,Смоленск,"<p> </p>\n\n<p><span style=""color:rgb(0,0,0);""...",Серия событий Детский мастер-класс по приготов...
245546,1,528177,notpaid,6746739.0,4500.0,2016-03-30 18:39:18,2016-03-31 22:00:02,Москва,NaN,Экскурсии и путешествия
245559,1,535064,notpaid,6832403.0,8000.0,2016-04-08 20:14:26,2016-04-10 20:20:03,Москва,NaN,Экскурсии и путешествия
245560,1,93264,notpaid,1332338.0,3000.0,2013-04-30 18:32:06,2013-05-03 18:40:01,Москва,"<p><span style=""font-size:13px;"">Что такое евр...",Экскурсии и путешествия
303810,1,528177,notpaid,6746739.0,4500.0,2016-03-30 18:39:18,2016-03-31 22:00:02,Москва,NaN,Серия событий РЕГУЛЯРНЫЙ МАРШРУТ 7: НОВОСПАССК...
305379,1,535064,notpaid,6832403.0,8000.0,2016-04-08 20:14:26,2016-04-10 20:20:03,Москва,NaN,Серия событий РЕГУЛЯРНЫЙ МАРШРУТ 5: КОЛОМЕНСКО...
308603,1,552033,ok,7273160.0,0.0,2016-05-31 20:45:38,2016-09-26 10:00:09,Москва,NaN,Выставки
308604,1,552033,ok,7273209.0,0.0,2016-05-31 20:54:52,2016-09-26 10:00:09,Москва,NaN,Выставки
318726,1,552033,ok,7273160.0,0.0,2016-05-31 20:45:38,2016-09-26 10:00:09,Москва,NaN,Серия событий Выставка 4DALI
318727,1,552033,ok,7273209.0,0.0,2016-05-31 20:54:52,2016-09-26 10:00:09,Москва,NaN,Серия событий Выставка 4DALI
321402,1,424240,ok,6094533.0,0.0,2015-12-21 18:22:22,2016-09-26 10:00:09,Москва,"<p><span style=""font-size:18px;""><span>Приглаш...",ИТ и интернет
337996,1,424240,ok,6094533.0,0.0,2015-12-21 18:22:22,2016-09-26 10:00:09,Москва,"<p><span style=""font-size:18px;""><span>Приглаш...",Иностранные языки

In [20]:
data = data[data.status.isin(['ok','paid','booked','paid_offline'])]

In [21]:
data_test = data[data.user.isin(list(range(100000)))]#[['user','registration_event_id']]

In [22]:
data_test.shape

(5436, 10)

In [23]:
data_test.head()

,user,registration_event_id,status,registration_order,sum,created_at,updated_at,city,description,name
0,1,143688,ok,2147684.0,0.0,2013-12-26 16:23:36,2014-03-30 10:45:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
1,1,143688,ok,2147719.0,0.0,2013-12-26 16:23:39,2014-03-30 10:46:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
2,1,143688,ok,2147718.0,0.0,2013-12-26 16:23:38,2014-03-30 10:46:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
3,1,143688,ok,2147757.0,0.0,2013-12-26 16:23:40,2014-03-30 10:46:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения
4,1,143688,ok,2147765.0,0.0,2013-12-26 16:23:41,2014-03-30 10:46:16,Москва,"<p>Это занятие практическое целиком. Все, что ...",Другие развлечения

In [24]:
dd = pd.DataFrame(data = data_test.groupby('user') \
                    .apply(lambda x: x[['registration_event_id']].unstack().value_counts()) \
                    .unstack() \
                    .fillna(0))

In [25]:
dd.shape

(1867, 2771)

In [26]:
import scipy
from scipy import spatial, sparse

In [124]:
for user1_id in dd.index:
    for user2_id in dd.index:
        if user1_id>user2_id and spatial.distance.cosine(dd[dd.index==user1_id], dd[dd.index==user2_id])<0.3:
            print(user1_id, user2_id, 1 - spatial.distance.cosine(dd[dd.index==user1_id], dd[dd.index==user2_id]))

749 400 0.718421208107
925 83 1.0
1025 188 0.894427191

KeyboardInterrupt:

In [27]:
dd.head()

,61505,61530,61539,61542,61562,61571,61594,61597,61603,61773,...,622082,622085,622097,622184,622187,622336,623104,623323,623416,623432
user,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
user_id = 1
for other_user_id in dd.index:
    if user_id!=other_user_id and spatial.distance.cosine(dd[dd.index==user_id], dd[dd.index==other_user_id])<0.3:
            print(user_id, other_user_id, 1 - spatial.distance.cosine(dd[dd.index==user_id], dd[dd.index==other_user_id]))

In [29]:
data[data.user.isin([3655,236])]

,user,registration_event_id,status,registration_order,sum,created_at,updated_at,city,description,name
246424,3655,151940,ok,2314128.0,0.0,2014-02-16 21:46:00,2014-02-26 10:20:14,Москва,"<p style=""text-align:center;""><strong><span st...",Экскурсии и путешествия
308916,3655,616774,ok,7243661.0,0.0,2016-05-27 17:36:19,2016-06-05 20:48:08,Москва,"<p><span style=""font-size:14px;"">Мы предлагаем...",Выставки
477514,3655,156325,ok,2354345.0,0.0,2014-02-25 02:36:57,2014-02-25 02:36:57,Волгоград,"<p><span class=""fsl"">Вы научитесь:<br />\n• Со...",Другие события
733935,3655,616774,ok,7243661.0,0.0,2016-05-27 17:36:19,2016-06-05 20:48:08,Москва,"<p><span style=""font-size:14px;"">Мы предлагаем...",Серия событий &quot;Я&quot; | Immersive digita...

In [30]:
data[data.user==236]

Empty DataFrame
Columns: [user, registration_event_id, status, registration_order, sum, created_at, updated_at, city, description, name]
Index: []

In [31]:
def find_all_event_ids_by_users(list_of_users_ids):
    event_ids_list = []
    for user_id in list_of_users_ids:
        event_ids_list.extend(list(data[data.user==user_id]['registration_event_id'].values))
    return list(set(event_ids_list))

In [32]:
def recommended_event_ids(user_event_ids_list, other_users_event_ids_list):
    return [x for x in other_users_event_ids_list if x not in user_event_ids_list]

In [33]:
recommended_event_ids([407857],find_all_event_ids_by_users([3655,27291]))

[151940, 156325, 616774]

In [34]:
list(data[data.user==3655]['registration_event_id'].values)

[151940, 616774, 156325, 616774]

In [35]:
find_all_event_ids_by_users([3655,27291])

[151940, 156325, 616774]

In [36]:
event[event.id.isin(recommended_event_ids([407857],find_all_event_ids_by_users([3655,27291])))][['description','name']]

,description,name
154790,"<p><span style=""font-size:14px;"">Мы предлагаем...","""Я"" | Immersive digital art"
201953,"<p style=""text-align:center;""><strong><span st...",Деньги: загадочный мир повседневного
206138,"<p><span class=""fsl"">Вы научитесь:<br />\n• Со...",Курс «Ораторское искусство. Учимся говорить по...

In [37]:
def give_recommendations(user_id):
    list_of_similar_users = []
    user_id_categories = list(set(data[data.user==user_id]['name'].values))
    print(user_id_categories)
    
    for other_user_id in dd.index:
        if user_id!=other_user_id and spatial.distance.cosine(dd[dd.index==user_id], dd[dd.index==other_user_id])<0.3:
            #print(user_id, other_user_id, 1 - spatial.distance.cosine(dd[dd.index==user_id], dd[dd.index==other_user_id]))
            list_of_similar_users.append(other_user_id)
    
    if len(list_of_similar_users)>0:
            print('User ID: {}.'.format(user_id))
            print('Recommended event ids: {}'.format(recommended_event_ids([user_id],find_all_event_ids_by_users(list_of_similar_users))))
    else:
        print('No similar users found for user id: {}'.format(user_id))

In [38]:
import random
user_id = random.choice(dd.index)
give_recommendations(user_id)

['Экскурсии и путешествия']
No similar users found for user id: 14973

In [64]:
data[data.registration_event_id==350623]

,user,registration_event_id,status,registration_order,sum,created_at,updated_at,city,description,name
87261,14965,350623,ok,4830384.0,0.0,2015-06-27 01:17:32,2015-06-27 01:17:32,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87262,21520,350623,ok,4705974.0,0.0,2015-06-03 22:39:20,2015-06-26 10:06:26,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87263,123218,350623,ok,4693789.0,0.0,2015-06-02 16:45:01,2015-06-26 10:04:23,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87264,163466,350623,ok,4690607.0,0.0,2015-06-02 11:45:22,2015-06-26 10:04:23,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87265,245239,350623,ok,4714340.0,0.0,2015-06-04 23:20:51,2015-06-26 10:07:22,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87266,260190,350623,ok,4727940.0,0.0,2015-06-08 09:52:59,2015-06-26 10:10:38,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87267,260190,350623,ok,4727940.0,0.0,2015-06-08 09:52:59,2015-06-26 10:10:38,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87268,270844,350623,ok,4654718.0,0.0,2015-05-27 17:10:28,2015-06-26 10:01:40,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87269,301986,350623,ok,4690208.0,0.0,2015-06-02 11:04:35,2015-06-26 10:03:25,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87270,302054,350623,ok,4724379.0,0.0,2015-06-07 01:36:35,2015-06-26 10:09:25,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87271,375608,350623,ok,4722815.0,0.0,2015-06-06 14:12:46,2015-06-26 10:08:24,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87272,469920,350623,ok,4696306.0,0.0,2015-06-02 21:01:34,2015-06-26 10:05:24,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87273,577143,350623,ok,4693698.0,0.0,2015-06-02 16:37:10,2015-06-26 10:04:23,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87274,597264,350623,ok,4709331.0,0.0,2015-06-04 13:00:11,2015-06-26 10:07:22,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87275,857385,350623,ok,4694192.0,0.0,2015-06-02 17:16:11,2015-06-26 10:05:24,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87276,1017390,350623,ok,4654138.0,0.0,2015-05-27 16:14:02,2015-06-26 10:01:40,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87277,1017408,350623,ok,4725486.0,0.0,2015-06-07 14:34:40,2015-06-26 10:09:25,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87279,1094301,350623,ok,4714083.0,0.0,2015-06-04 22:27:28,2015-06-26 10:07:22,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87281,1148837,350623,ok,4690941.0,0.0,2015-06-02 12:18:59,2015-06-26 10:04:23,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87282,1207390,350623,ok,4713925.0,0.0,2015-06-04 21:55:54,2015-06-26 10:07:22,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87283,1338564,350623,ok,4731453.0,0.0,2015-06-08 15:14:46,2015-06-26 10:10:38,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87284,1451661,350623,ok,4693529.0,0.0,2015-06-02 16:23:16,2015-06-26 10:04:23,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87285,1451661,350623,ok,4693529.0,0.0,2015-06-02 16:23:16,2015-06-26 10:04:23,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87286,1458251,350623,ok,4694837.0,0.0,2015-06-02 18:20:22,2015-06-26 10:05:24,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87287,1500070,350623,ok,4719564.0,0.0,2015-06-05 18:09:02,2015-06-26 10:08:24,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87288,1531242,350623,ok,4715306.0,0.0,2015-06-05 08:48:32,2015-06-26 10:08:24,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87289,1539351,350623,ok,4654647.0,0.0,2015-05-27 17:02:12,2015-06-26 10:01:40,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87290,1623175,350623,ok,4752592.0,0.0,2015-06-11 12:54:19,2015-06-26 10:13:28,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87291,1860536,350623,ok,4752870.0,0.0,2015-06-11 13:46:21,2015-06-26 10:13:28,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
87292,1874314,350623,ok,4685301.0,0.0,2015-06-01 17:14:32,2015-06-26 10:03:25,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Бизнес
...,...,...,...,...,...,...,...,...,...,...
574915,73660541,350623,ok,4687206.0,0.0,2015-06-01 21:34:06,2015-06-26 10:03:25,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574916,73661802,350623,ok,4689774.0,0.0,2015-06-02 10:07:56,2015-06-26 10:03:25,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574917,73662940,350623,ok,4693145.0,0.0,2015-06-02 15:52:11,2015-06-26 10:04:23,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574918,73663134,350623,ok,4693763.0,0.0,2015-06-02 16:43:08,2015-06-26 10:04:23,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574919,73664207,350623,ok,4697126.0,0.0,2015-06-02 22:26:26,2015-06-26 10:05:24,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574920,73664291,350623,ok,4697415.0,0.0,2015-06-02 23:05:23,2015-06-26 10:05:24,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574921,73664291,350623,ok,4740498.0,0.0,2015-06-09 18:13:40,2015-06-26 10:11:24,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574922,73665260,350623,ok,4699655.0,0.0,2015-06-03 10:50:07,2015-06-26 10:05:24,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574923,73667993,350623,ok,4704132.0,0.0,2015-06-03 18:52:58,2015-06-26 10:06:26,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574924,73669582,350623,ok,4708799.0,0.0,2015-06-04 12:13:43,2015-06-26 10:06:26,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574925,73669624,350623,ok,4708914.0,0.0,2015-06-04 12:23:03,2015-06-26 10:06:26,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574926,73669714,350623,ok,4709165.0,0.0,2015-06-04 12:42:18,2015-06-26 10:07:22,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574927,73669714,350623,ok,4709165.0,0.0,2015-06-04 12:42:18,2015-06-26 10:07:22,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574928,73669720,350623,ok,4709177.0,0.0,2015-06-04 12:43:51,2015-06-26 10:07:22,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574929,73672928,350623,ok,4709887.0,0.0,2015-06-04 14:01:54,2015-06-27 11:38:50,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574930,73673199,350623,ok,4711013.0,0.0,2015-06-04 15:45:23,2015-06-26 10:07:22,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574931,73680017,350623,ok,4724795.0,0.0,2015-06-07 10:51:35,2015-06-26 10:09:25,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574932,73680260,350623,ok,4725487.0,0.0,2015-06-07 14:34:48,2015-06-26 10:09:25,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574933,73680261,350623,ok,4725491.0,0.0,2015-06-07 14:35:54,2015-06-26 10:09:25,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574935,73701262,350623,ok,4728080.0,0.0,2015-06-08 10:20:05,2015-06-26 10:10:38,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574936,73710303,350623,ok,4729247.0,0.0,2015-06-08 12:07:46,2015-06-26 10:10:38,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574937,73725357,350623,ok,4749340.0,0.0,2015-06-10 20:03:39,2015-06-26 10:12:27,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574938,73726403,350623,ok,4752234.0,0.0,2015-06-11 12:03:19,2015-06-26 10:13:28,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574939,73726704,350623,ok,4753279.0,0.0,2015-06-11 14:45:28,2015-06-26 10:13:28,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574940,73785930,350623,ok,4825980.0,0.0,2015-06-26 10:36:25,2015-06-26 10:36:25,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574941,73786380,350623,ok,4827481.0,0.0,2015-06-26 14:11:02,2015-06-26 14:11:02,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574942,73793000,350623,ok,4828923.0,0.0,2015-06-26 17:45:21,2015-06-26 17:45:21,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574943,73793047,350623,ok,4829073.0,0.0,2015-06-26 18:22:59,2015-06-26 18:22:59,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574944,73793409,350623,ok,4830191.0,0.0,2015-06-26 23:39:35,2015-06-26 23:39:35,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре
574945,73793448,350623,ok,4830325.0,0.0,2015-06-27 00:42:19,2015-06-27 00:42:19,Без города,"<p>Многие люди, побывав в Петербурге, не могут...",Лекции об искусстве и культуре

In [84]:
from sklearn.metrics.pairwise import cosine_similarity


C = [0.2,0.5,1,1,1,1]
A = [1,2,2,3,4,5]
B = [7,7,8,
     9,10,11]
matrix = sparse.csr_matrix((C,(A,B)),shape=(12,12))
print(matrix)
cosine_similarity(matrix[1],matrix[2])[0][0]

#import sklearn.preprocessing as pp

#def cosine_similarities(mat):
#    col_normed_mat = pp.normalize(mat.tocsc(), axis=0)
#    return col_normed_mat.T * col_normed_mat

#print(cosine_similarities(matrix))

  (1, 7)	0.2
  (2, 7)	0.5
  (2, 8)	1.0
  (3, 9)	1.0
  (4, 10)	1.0
  (5, 11)	1.0

0.44721359549995793

In [51]:
matrix

<12x12 sparse matrix of type '<class 'numpy.int32'>'
	with 5 stored elements in Compressed Sparse Row format>

In [63]:

#spatial.distance.cosine(matrix[1],matrix[2])

array([[ 0.]])

In [60]:
matrix[1].shape

(1, 12)

In [59]:
matrix[2].shape

(1, 12)

In [85]:
reg_data.head(2)

,user,registration_event_id,status,registration_order,sum,created_at,updated_at
505986,0,0,ok,NaN,NaN,NaN,NaN
454299,0,0,ok,NaN,NaN,NaN,NaN

In [86]:
data_for_matrix = reg_data[['user','registration_event_id']]

In [87]:
data_for_matrix.shape

(1635329, 2)

In [100]:
users = data_for_matrix.user.values
events = data_for_matrix.registration_event_id.values
fill = data_for_matrix.shape[0]*[1]

In [105]:
len(fill)

1635329

In [106]:
matrix = sparse.csr_matrix((fill,(users,events)),shape=(max(users)+1,max(events)+1))

In [107]:
matrix

<88368704x1354125 sparse matrix of type '<class 'numpy.int32'>'
	with 1554282 stored elements in Compressed Sparse Row format>

In [134]:
cosine_similarity(matrix[925],matrix[83])[0][0]

0.70710678118654746

In [135]:
data_for_matrix[data_for_matrix.user.isin([925,83])]

        user  registration_event_id
742583    83                 854399
417129    83                 497995
424953   925                 497995

In [136]:
def give_recommendations(user_id):
    list_of_similar_users = []
    user_id_categories = list(set(data[data.user==user_id]['name'].values))
    print(user_id_categories)
    
    for other_user_id in dd.index:
        if user_id!=other_user_id and cosine_similarity(matrix[user_id],matrix[other_user_id])[0][0]<0.3:
            #print(user_id, other_user_id, 1 - spatial.distance.cosine(dd[dd.index==user_id], dd[dd.index==other_user_id]))
            list_of_similar_users.append(other_user_id)
    
    if len(list_of_similar_users)>0:
            print('User ID: {}.'.format(user_id))
            print('Recommended event ids: {}'.format(recommended_event_ids([user_id],find_all_event_ids_by_users(list_of_similar_users))))
    else:
        print('No similar users found for user id: {}'.format(user_id))

In [137]:

give_recommendations(83)

['Бизнес']
User ID: 83.